<div class="testimonial-area recent-property" style="background-color: #FCFCFC; padding-bottom: 15px;">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
                <h2>{{ 'about_us'|trans }}</h2>
            </div>
        </div>

        <div class="row">
            <div class="row testimonial">
                <div class="col-md-12">
                    <div id="row">
                        <div class="col-md-3">
                            <div class="item">
                                <div class="client-text">
                                    <h4><strong>Barbara Zadora </strong><br/>wiceprezes zarządu</h4>
                                    <p>Nulla quis dapibus nisl. Suspendisse llam sed arcu ultried arcu ultricies !</p>
                                    <a href="#" class="btn btn-warning">więcej...</a>
                                </div>
                                <div class="client-face wow fadeInLeft" data-wow-delay=".9s">
                                    <img src="{{ asset('img/inwestor-1.png') }}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="item">
                                <div class="client-text">
                                    <h4><strong>Andrzej Czuban</strong><br/>wiceprezes zarządu</h4>
                                    <p>Nulla quis dapibus nisl. Suspendisse llam sed arcu ultried arcu ultricies !</p>
                                    <a href="#" class="btn btn-warning">więcej...</a>
                                </div>
                                <div class="client-face wow fadeIn" data-wow-delay=".9s">
                                    <img src="{{ asset('img/inwestor-3.png') }}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="item">
                                <div class="client-text">
                                    <h4><strong>Magdalena Czuban</strong><br/>wiceprezes zarządu</h4>
                                    <p>Mam kilkunastoletnie doświadczenie w pracy, zarówno w ...</p>
                                    <a href="{{ path('front_article_show',{'id':'11'}) }}" class="btn btn-warning">więcej...</a>
                                </div>
                                <div class="client-face wow fadeIn" data-wow-delay=".9s">
                                    <img src="{{ asset('img/inwestor-2.png') }}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="item">
                                <div class="client-text">
                                    <h4><strong>Sebastian Ryszkowski </strong><br/>prezes zarządu</h4>
                                    <p>Od ponad 20 lat związany jestem z biznesem. Pierwszą firmę założyłem ... </p>
                                    <a href="{{ path('front_article_show',{'id':'10'}) }}" class="btn btn-warning">więcej...</a>
                                </div>
                                <div class="client-face wow fadeInRight" data-wow-delay=".9s">
                                    <img src="{{ asset('img/inwestor-4.png') }}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
