<div class="boy-sale-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-10 col-sm-offset-1 col-md-offset-0 col-xs-12">
                <a href="{{ path('front_article_show',{'id':5}) }}">
                <div class="asks-first">
                    <div class="asks-first-circle">
                        <span class="fa fa-search"></span>
                    </div>
                    <div class="asks-first-info">
                        <h2>{{ 'looking_for_investment'|trans }}</h2>
                        <p> Masz 10 000...20 000...50 000 złotych a może więcej i chcesz osiągać stały pasywny dochód na poziomie nawet 10% zysku rocznie inwestując na rynku nieruchomości?
                            <br/> Dołącz już teraz do naszej strefy inwestora <br/>i zarabiaj na gotówce</p>
                    </div>
                    <div class="asks-first-arrow">
                        <a href="{{ path('front_article_show',{'id':5}) }}"><span class="fa fa-angle-right"></span></a>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-md-6 col-sm-10 col-sm-offset-1 col-xs-12 col-md-offset-0">
                <a href="{{ path('front_article_show',{'id':8}) }}">
                <div  class="asks-first">
                    <div class="asks-first-circle">
                        <span class="fa fa-search"></span>
                    </div>
                    <div class="asks-first-info">
                        <h2>{{ 'looking_for_investor'|trans }}</h2>
                        <p> Masz na oku nieruchomość w okazyjnej cenie, chcesz kupić, wyremontować i zarobić a nie posiadasz gotówki.<br/><br/>
                            <br/>To dołącz już teraz do naszej strefy inwestycji</p>
                    </div>
                    <div class="asks-first-arrow">
                        <a href="{{ path('front_article_show',{'id':8}) }}"><span class="fa fa-angle-right"></span></a>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-xs-12">
                <p  class="asks-call">{{ 'questions'|trans }}? {{ 'call_us'|trans }} : <span class="strong"> {{ config.config.phone }}</span></p>
            </div>
        </div>
    </div>
</div>
