{% set title = 'account'|trans %}
{% extends 'front/base.html.twig' %}

{% block body %}
    {% include 'front/addons/top.html.twig' %}

    <div class="content-area blog-page padding-top-40" style="background-color: #FCFCFC; padding-bottom: 55px;">
        <div class="container">
            <div class="row">
                <div class="blog-lst col-md-12 pl0">

                    {% include 'front/addons/flashMessages.html.twig' %}

                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#home">Profil</a></li>
                        <li><a data-toggle="tab" href="#menu4">{{ 'recruitments'|trans }}</a></li>
                        <li><a data-toggle="tab" href="#menu3">{{ 'recruitments_user_offer'|trans }}</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="home" class="tab-pane fade in active">
                            <div class="well">
                                <table class="table table-bordered">
                                    <thead class="table-head">
                                    <tr>
                                        <th>{{ 'first_name'|trans }}</th>
                                        <th>{{ 'last_name'|trans }}</th>
                                        <th>{{ 'birth_date'|trans }}</th>
                                        <th>{{ 'phone'|trans }}</th>
                                    </tr>
                                    </thead>
                                    <tbody class="table-content">
                                        <tr>
                                            <td>{{ user.firstName }} </td>
                                            <td>{{ user.lastName }} </td>
                                            <td>{{ user.birthDate|date('d-m-Y') }} </td>
                                            <td>{{ user.phone }} </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a class="btn btn-default btn-border" href="{{ path('front_user_account_edit') }}">{{ 'edit'|trans }}</a>
                            </div>
                        </div>
                        <div id="menu4" class="tab-pane fade">
                            <div class="well">
                                <div class="">
                                    <table class="table table-bordered">
                                        <thead class="table-head">
                                        <tr>
                                            <th>{{ 'recruitment_name'|trans }}</th>
                                            <th>{{ 'desired_amount'|trans }}</th>
                                            <th>{{ 'investment_period_max'|trans }}</th>
                                            <th>{{ 'interest'|trans }}</th>
                                            <th>{{ 'rooms'|trans }}</th>
                                            <th>{{ 'recruitment_localization'|trans }}</th>
                                            <th>{{ 'make_an_loan_offer'|trans }}</th>
                                        </tr>
                                        </thead>
                                        <tbody class="table-content">
                                        {% for recruitment in recruitments %}
                                            <tr>
                                                <td>{{ recruitment.0.name }}</td>
                                                <td>{{ recruitment.0.desiredAmount - recruitment['declaredSum'] }} zł</td>
                                                <td>{{ recruitment.0.investmentPeriod }} msc</td>
                                                <td>{{ recruitment.0.interest }} %</td>
                                                <td>{{ recruitment.0.rooms }}</td>
                                                <td>{{ recruitment.0.city }}</td>
                                                <td>{%  if recruitment['declaredSum'] < recruitment.0.desiredAmount %}
                                                    <a class="btn btn-warning" href="{{ path('front_user_recruitment_user_new',{'recruitmentId': recruitment.0.id }) }}">{{ 'make_an_offer'|trans }}</a>
                                                    {% else %}
                                                    Kwota zebrana
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="menu3" class="tab-pane fade">
                            <div class="well">
                                <div class="">
                                    <table class="table table-bordered">
                                        <thead class="table-head">
                                        <tr>
                                            <th>{{ 'recruitment'|trans }}<br/><span style="font-size: 10px;">{{ 'click_for_detail'|trans }}</span> </th>
                                            <th>{{ 'status'|trans }}</th>
                                            <th>{{ 'loan.ammount'|trans }}</th>
                                            <th>{{ 'payed_amount'|trans }}</th>
                                            <th>{{ 'investment_period_max'|trans }}</th>
                                            <th>{{ 'interest'|trans }}</th>
                                            <th>{{ 'amount_of_days'|trans }}</th>
                                            <th>{{ 'amount_of_interest'|trans }}</th>
                                            <th>{{ 'recruitment_user_created'|trans }}</th>
                                            <th>{{ 'recruitment_user_accepted'|trans }}</th>
                                            <th>{{ 'agreement.conditions'|trans }}</th>
                                        </tr>
                                        </thead>
                                        {% for user in recruitmentUserOffers %}
                                            <tr class="table-content">
                                                <td><a href="{{ path('front_user_recruitment_show',{'id':user.recruitment.id}) }}">{{ user.recruitment.name }}</a></td>
                                                <td>{{ user.status.name }}</td>
                                                <td>{{ user.declaredAmount }} zł</td>
                                                <td>{% if user.payedAmount is empty %}0{% else %}{{ user.payedAmount }}{% endif %} zł</td>
                                                <td>{{ user.investmentPeriod }} msc</td>
                                                <td>{{ user.interest }} %</td>
                                                <td>{% if user.status.isDisabling == 1 %}---{% else %}{{ user.daysOfInvestment }}{% endif %}</td>
                                                <td>{% if user.status.isDisabling == 1 %}---{% else %}{{ user.amountOfInterest }} zł{% endif %}</td>
                                                <td>{{ user.created|date('d-m-Y H:i:s') }}</td>
                                                <td>{% if user.acceptedDate is empty %}{{ 'recruitment_user_not_accepted'|trans }}{% else %}{{ user.acceptedDate|date('d-m-Y H:i:s') }}{% endif %}</td>
                                                <td>{% if user.status.isDisabling == 1 %}---{% else %}
                                                        {% if user.agreementPath is not null %}
                                                            <a href="{{ path('admin_user_account_recruitment_user_get_agreement',{'id':user.id}) }}" class="btn btn-finish">{{ 'agreement.download_agreement'|trans }}</a>
                                                        {% else %}
                                                            {{ 'agreement.not_available'|trans }}
                                                        {% endif %}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                    <br/>
                                    <a target="_blank" class="btn btn-default" href="{{ asset('attachement/Formularz_odstąpienia_od_umowy.pdf') }}">Formularz odstąpienia od umowy</a><br/>
                                    <a target="_blank" class="btn btn-default" href="{{ asset('attachement/Pouczenie_o_możliwości_odstąpienia_od_umowy.pdf') }}">Pouczenie o możliwości odstąpienia od umowy</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}
