{% extends 'front/base.html.twig' %}

{% block body %}
    <div class="page-head">
        <div class="container">
            <div class="row">
                <div class="page-head-content">
                    <h1 class="page-title">{{ 'contact'|trans }}</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="content-area recent-property padding-top-40" style="background-color: #FFF;">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="" id="contact1">
                        <div class="row">
                            <div class="col-sm-4">
                                <h4><i class="fa fa-map-marker"></i> {{ 'address'|trans }}</h4>
                                <p>{{ config.config.address }}</p>
                            </div>
                            <!-- /.col-sm-4 -->
                            <div class="col-sm-4">
                                <h4><i class="fa fa-phone"></i> {{ 'call_us'|trans }}</h4>
                                <p>{{ config.config.phone }}</p>
                            </div>
                            <!-- /.col-sm-4 -->
                            <div class="col-sm-4">
                                <h4><i class="fa fa-envelope"></i> {{ 'write_to_us'|trans }}</h4>
                                {{ config.config.email }}
                            </div>
                        </div>
                        <hr>

                        <hr>
                        <h2>{{ 'contact_form'|trans }}</h2>

                        {% include 'front/addons/flashMessages.html.twig' %}

                        {% form_theme form 'form/default_user.html.twig' %}

                        {{ form_start(form) }}
                        {{ form_widget(form) }}

                        {{ form_end(form) }}

                    </div>
                </div>
            </div>

        </div>
    </div>
    <div id="map" style="height: 400px;"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
    <script src="{{ asset('js/gmaps.js') }}"></script>
    <script src="{{ asset('js/gmaps.init.js') }}"></script>
{% endblock %}
