{% extends 'front/base.html.twig' %}

{% block body %}
    <div class="page-head">
        <div class="container">
            <div class="row">
                <div class="page-head-content">
                    <h1 class="page-title">{{ 'password.reset'|trans }}</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="content-area recent-property padding-top-40" style="background-color: #FFF;">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                        {% include 'front/addons/flashMessages.html.twig' %}

                        {% form_theme form 'form/default_user.html.twig' %}

                        {{ form_start(form) }}
                        <div class="row">
                            <div class="col-md-4">
                                {{ form_label(form.email) }}
                            </div>
                            <div class="col-md-8">
                                {{ form_widget(form.email) }}
                                {{ form_errors(form.email) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                {{ form_label(form.birthDate) }}
                            </div>
                            <div class="col-md-8">
                                {{ form_widget(form.birthDate.year, { 'attr' : { 'class': 'year-class' }}) }}
                                {{ form_widget(form.birthDate.year, {'attr': {'class': 'birth-class'}}) }}
                                {{ form_widget(form.birthDate.month, {'attr': {'class': 'birth-class'}}) }}
                                {{ form_widget(form.birthDate.day, {'attr': {'class': 'birth-class'}}) }}
                                {{ form_errors(form.birthDate) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{ form_widget(form.save) }}
                            </div>
                        </div>
                        {{ form_end(form) }}
                </div>
            </div>

        </div>
    </div>
{% endblock %}
