{% set title = realization.name %}
{% extends 'front/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/lightslider.min.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/lightslider.min.js') }}"></script>
    <script>
        $(document).ready(function () {

            $('#image-gallery').lightSlider({
                gallery: true,
                item: 1,
                thumbItem: 9,
                slideMargin: 0,
                speed: 500,
                pauseOnHover: true,
                auto: false,
                loop: true,
                onSliderLoad: function () {
                    $('#image-gallery').removeClass('cS-hidden');
                }
            });
        });
    </script>
{% endblock %}

{% block body %}

    <div class="content-area blog-page padding-top-40" style="background-color: #FCFCFC; padding-bottom: 55px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="content-area single-property" style="background-color: #FCFCFC;">
                        <div class="container">
                            <div class="clearfix" >
                                <div class="col-md-12 single-property-content prp-style-1 ">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="single-property-header">
                                                <h1 class="property-title pull-left">{{ realization.name }}</h1>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="light-slide-item">
                                                <div class="clearfix">
                                                    <div class="favorite-and-print">
                                                        <a class="printer-icon " href="javascript:window.print()">
                                                            <i class="fa fa-print"></i>
                                                        </a>
                                                    </div>

                                                    <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
                                                        {% for image in images %}
                                                            <li data-thumb="{{ asset(image.pathName) }}">
                                                                <img class="img-thumbnail" src="{{ asset(image.pathName) }}" />
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="text-center mg-top-80">
                                                <div class="single-property-header">
                                                    <span class="property-price">{{ realization.sellingPrice|number_format(0,'.',' ') }} {{ realization.currency }} </span>
                                                </div>
                                                <br/>

                                                <div class="entry-meta clearfix ">

                                                    <div class="col-xs-4 col-sm-4 col-md-4 p-b-15">
                                                <span class="property-info icon-area">
                                                    <img src="{{ asset('img/icon/room-orange.png') }}">
                                                </span>
                                                        <span class="property-info-entry">
                                                    <span class="property-info-label">{{ 'rooms'|trans }}</span>
                                                    <span class="property-info-value">{{ realization.rooms }}</span>
                                                </span>
                                                    </div>

                                                    <div class="col-xs-4 col-sm-4 col-md-4 p-b-15">
                                                <span class="property-info-icon icon-garage">
                                                    <img src="{{ asset('img/icon/cars-orange.png') }}">
                                                </span>
                                                        <span class="property-info-entry">
                                                    <span class="property-info-label">{{ 'city'|trans }}</span>
                                                    <span class="property-info-value">{{ realization.city }}</span>
                                                </span>
                                                    </div>

                                                    <div class="col-xs-4 col-sm-4 col-md-4 p-b-15">
                                                <span class="property-info-icon icon-garage">
                                                    <img src="{{ asset('img/icon/m2.png') }}">
                                                </span>
                                                        <span class="property-info-entry">
                                                    <span class="property-info-label">{{ 'yardage'|trans }}</span>
                                                    <span class="property-info-value">{{ realization.yardage }} m2</span>
                                                </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </div>


                                        <!-- .property-meta -->

                                        <div class="section">
                                            <h4 class="s-property-title">{{ 'description'|trans }}</h4>
                                            <div class="s-property-content">
                                                <p>{{ realization.description|raw }}</p>
                                            </div>
                                        </div>
                                        <!-- End description area  -->

                                        <div class="row">
                                                {% if realization.media is not empty %}
                                                <div class="col-md-6">
                                                    <div class="section additional-details">
                                                        <h4 class="s-property-title">{{ 'media'|trans }}</h4>
                                                        <ul class="additional-details-list clearfix">
                                                            {% for media in realization.media %}
                                                                <li>
                                                                    <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">{{ media }}</span>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                                {% endif %}

                                                {% if realization.additionalInfo is not empty %}
                                                <div class="col-md-6">
                                                    <div class="section additional-details">
                                                        <h4 class="s-property-title">{{ 'additional_info'|trans }}</h4>
                                                        <ul class="additional-details-list clearfix">
                                                            {% for additionalInfo in realization.additionalInfo %}
                                                                <li>
                                                                    <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">{{ additionalInfo }}</span>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                                {% endif %}

                                                {% if realization.basic is not empty %}
                                                <div class="col-md-6">
                                                    <div class="section additional-details">
                                                        <h4 class="s-property-title">{{ 'basic'|trans }}</h4>
                                                        <ul class="additional-details-list clearfix">
                                                            {% for basic in realization.basic %}
                                                                <li>
                                                                    <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">{{ basic }}</span>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                                {% endif %}
                                                {% if realization.security is not empty %}
                                                <div class="col-md-6">
                                                    <div class="section additional-details">
                                                        <h4 class="s-property-title">{{ 'security'|trans }}</h4>
                                                        <ul class="additional-details-list clearfix">
                                                            {% for security in realization.security %}
                                                                <li>
                                                                    <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">{{ security }}</span>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                                {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
