{% extends 'front/base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script language = "javascript"
            src = "https://code.jquery.com/jquery-2.2.4.min.js"></script>

    <script language = "javascript">
        $(document).ready(function(){
            $("#user_zipCode").change(function(){
                var url = '{{ path("api_get_zip_code", {'zipCode': 'zip_code_get'}) }}';
                var aa = url.replace("zip_code_get", this.value);
                $.ajax({
                    url:        aa,
                    type:       'POST',
                    dataType:   'json',
                    async:      true,

                    success: function(data, status) {
                        $('#user_city').val(data.city)
                    },
                    error : function(xhr, textStatus, errorThrown) {
                        alert('Ajax request failed.'+aa);
                    }
                });
            });
        });
    </script>
    <script language = "javascript">

        $(document).ready(function() {
            $("#user_pesel").change(function() {
                function PeselDecode(pesel)
                {
                    var rok=parseInt(pesel.substring(0,2),10);
                    var miesiac = parseInt(pesel.substring(2,4),10)-1;
                    var dzien = parseInt(pesel.substring(4,6),10);

                    if(miesiac>80) {
                        rok = rok + 1800;
                        miesiac = miesiac - 80;
                    }
                    else if(miesiac > 60) {
                        rok = rok + 2200;
                        miesiac = miesiac - 60;
                    }
                    else if (miesiac > 40) {
                        rok = rok + 2100;
                        miesiac = miesiac - 40;
                    }
                    else if (miesiac > 20) {
                        rok = rok + 2000;
                        miesiac = miesiac - 20;
                    }
                    else
                    {
                        rok += 1900;
                    }
                    // Daty sa ok. Teraz ustawiamy.
                    var urodzony=new Date();
                    urodzony.setFullYear(rok, miesiac, dzien);

                    // Teraz zweryfikujemy numer pesel
                    // Metoda z wagami jest w sumie najszybsza do weryfikacji.
                    var wagi = [9,7,3,1,9,7,3,1,9,7];
                    var suma = 0;

                    for(var i=0;i<wagi.length;i++) {
                        suma+=(parseInt(pesel.substring(i,i+1),10) * wagi[i]);
                    }
                    suma=suma % 10;
                    var valid=(suma===parseInt(pesel.substring(10,11),10));

                    //plec
                    var plec = '';
                    if(parseInt(pesel.substring(9,10),10) % 2 === 1) {
                        plec='m';
                    } else {
                        plec='k';
                    }
                    return {valid:valid,sex:plec,date:urodzony};
                }
                var wynik = PeselDecode(this.value);
                if (!wynik.valid)
                {
                   // alert('Błędny pesel');
                }else {
                  //  alert('Poprawny pesel');
                }
            });
        });
    </script>
{% endblock %}
{% block body %}
    <!-- register-area -->
    <div class="register-area" style="background-color: rgb(249, 249, 249);">
        <div class="container">

            {% include 'front/addons/flashMessages.html.twig' %}

            {% if app.user %}
                <div class="col-md-12">
                    {{ 'youre_logged_on'|trans }} {{ app.user.username }}<br/>
                    <a href="{{ path('logout') }}" class="btn btn-success">{{ 'logout'|trans }}</a>
                </div>
            {%  else %}
                <div class="col-md-12">
                    <div class="box-for overflow">
                        <div class="col-md-12 col-xs-12 login-blocks">
                            <div class="row">
                                <h2>{{ 'user_registration'|trans }} : </h2>
                            </div>
                            <div class="row">
                                {% form_theme form 'form/default_user.html.twig' %}
                                <div class="col-md-5">
                                    {{ form_start(form) }}
                                    <div class="row">
                                        <div class="col-md-3">
                                            {{ form_label(form.email) }}
                                        </div>
                                        <div class="col-md-9">
                                            {{ form_widget(form.email) }}
                                            {{ form_errors(form.email) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            {{ form_label(form.password) }}
                                        </div>
                                        <div class="col-md-9">
                                            {{ form_widget(form.password) }}
                                            {{ form_errors(form.password) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            {{ form_label(form.phone) }}
                                        </div>
                                        <div class="col-md-9">
                                            {{ form_widget(form.phone) }}
                                            {{ form_errors(form.phone) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            {{ form_label(form.firstName) }}
                                        </div>
                                        <div class="col-md-9">
                                            {{ form_widget(form.firstName) }}
                                            {{ form_errors(form.firstName) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            {{ form_label(form.lastName) }}
                                        </div>
                                        <div class="col-md-9">
                                            {{ form_widget(form.lastName) }}
                                            {{ form_errors(form.lastName) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            {{ form_label(form.pesel) }}
                                        </div>
                                        <div class="col-md-9">
                                            {{ form_widget(form.pesel) }}
                                            {{ form_errors(form.pesel) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            {{ form_label(form.idNumber) }}
                                        </div>
                                        <div class="col-md-9">
                                            {{ form_widget(form.idNumber) }}
                                            {{ form_errors(form.idNumber) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            {{ form_label(form.bancAccount) }}
                                        </div>
                                        <div class="col-md-9">
                                            {{ form_widget(form.bancAccount) }}
                                            {{ form_errors(form.bancAccount) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            {{ form_label(form.birthDate) }}
                                        </div>
                                        <div class="col-md-9">
                                            {{ form_widget(form.birthDate.year, { 'attr' : { 'class': 'year-class' }}) }}
                                            {{ form_widget(form.birthDate.year, {'attr': {'class': 'birth-class'}}) }}
                                            {{ form_widget(form.birthDate.month, {'attr': {'class': 'birth-class'}}) }}
                                            {{ form_widget(form.birthDate.day, {'attr': {'class': 'birth-class'}}) }}
                                            {{ form_errors(form.birthDate) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            {{ form_label(form.zipCode) }}
                                        </div>
                                        <div class="col-md-9">
                                            {{ form_widget(form.zipCode) }}
                                            {{ form_errors(form.zipCode) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            {{ form_label(form.address) }}
                                        </div>
                                        <div class="col-md-9">
                                            {{ form_widget(form.address) }}
                                            {{ form_errors(form.address) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            {{ form_label(form.city) }}
                                        </div>
                                        <div class="col-md-9">
                                            {{ form_widget(form.city) }}
                                            {{ form_errors(form.city) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            {{ form_label(form.regulations) }}
                                        </div>
                                        <div class="col-md-9">
                                            <a href="{{ config.config.regulationsUrl }}">{{ 'i_have_accepted_regulations'|trans }}</a> {{ form_widget(form.regulations) }}
                                            {{ form_errors(form.regulations) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            {{ form_widget(form.save) }}
                                        </div>
                                    </div>
                                    {{ form_end(form) }}
                                </div>
                                <div class="col-md-7">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

