{% extends 'front/base.html.twig' %}

{% block styleshets %}
    {{ parent() }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script type="text/javascript">
        var RecaptchaOptions = {
            lang : 'pl'
        };
    </script>
    <script language = "javascript"
            src = "https://code.jquery.com/jquery-2.2.4.min.js"></script>

    <script language = "javascript">
        $(document).ready(function(){
            $("#user_email").change(function(){
                    var email = /[a-zA-Z_0-9\.]+@[a-zA-Z_0-9\.]+\.[a-zA-Z][a-zA-Z]+/
                    if (email.test($(this).val())){
                        $(this).addClass('field_success');
                        $(this).removeClass('field_error');
                    }
                    else {
                        $(this).addClass('field_error');
                        $(this).removeClass('field_success');
                    }
            });

            $("#user_password").change(function(){
                    if ($(this).val().length > 7){
                        $(this).addClass('field_success');
                        $(this).removeClass('field_error');
                    }
                    else {
                        $(this).addClass('field_error');
                        $(this).removeClass('field_success');
                    }
            });
        });
    </script>
{% endblock %}
{% block body %}
    <!-- register-area -->
    <div class="register-area" style="background-color: rgb(249, 249, 249);">
        <div class="container">

            {% include 'front/addons/flashMessages.html.twig' %}

            {% if app.user %}
                <div class="col-md-12">
                    {{ 'youre_logged_on'|trans }} {{ app.user.username }}<br/>
                    <a href="{{ path('logout') }}" class="btn btn-success">{{ 'logout'|trans }}</a>
                </div>
            {%  else %}
                <div class="col-md-12">
                    <div class="box-for overflow">
                        <div class="col-md-12 col-xs-12 login-blocks">
                            <div class="row">
                                <h2>{{ 'user_registration'|trans }} : </h2>
                            </div>
                            <div class="row">
                                {% form_theme form 'form/default_user.html.twig' %}
                                <div class="col-md-6 well grey">
                                    {{ form_start(form) }}
                                    <div class="row">
                                        <div class="col-md-4">
                                            {{ form_label(form.email) }}
                                        </div>
                                        <div class="col-md-8">
                                            {{ form_widget(form.email) }}
                                            {{ form_errors(form.email) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            {{ form_label(form.password) }}
                                        </div>
                                        <div class="col-md-8">
                                            {{ form_widget(form.password) }}
                                            {{ form_errors(form.password) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            {{ form_label(form.phone) }}
                                        </div>
                                        <div class="col-md-8">
                                            {{ form_widget(form.phone) }}
                                            {{ form_errors(form.phone) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        {{ form_errors(form.gender) }}
                                        <div class="col-md-4">
                                            {{ form_label(form.gender) }}
                                        </div>
                                        <div class="col-md-8">
                                            {{ form_widget(form.gender) }}
                                        </div><br/><br/>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            {{ form_label(form.firstName) }}
                                        </div>
                                        <div class="col-md-8">
                                            {{ form_widget(form.firstName) }}
                                            {{ form_errors(form.firstName) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            {{ form_label(form.lastName) }}
                                        </div>
                                        <div class="col-md-8">
                                            {{ form_widget(form.lastName) }}
                                            {{ form_errors(form.lastName) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            {{ form_label(form.birthDate) }}
                                        </div>
                                        <div class="col-md-8">
                                            {{ form_widget(form.birthDate.year, { 'attr' : { 'class': 'year-class' }}) }}
                                            {{ form_widget(form.birthDate.year, {'attr': {'class': 'birth-class'}}) }}
                                            {{ form_widget(form.birthDate.month, {'attr': {'class': 'birth-class'}}) }}
                                            {{ form_widget(form.birthDate.day, {'attr': {'class': 'birth-class'}}) }}
                                            {{ form_errors(form.birthDate) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        {{ form_errors(form.regulations) }}
                                        <div class="col-md-4">
                                            {{ form_label(form.regulations) }}
                                        </div>
                                        <div class="col-md-8">
                                            <a href="{{ config.config.regulationsUrl }}">{{ 'i_have_accepted_regulations'|trans }}</a> {{ form_widget(form.regulations) }}

                                        </div>
                                    </div>
                                    <div class="row">
                                        {{ form_errors(form.regulationFromRegister) }}
                                        <div class="col-md-1">
                                            {{ form_widget(form.regulationFromRegister) }}
                                        </div>
                                        <div class="col-md-11">
                                            {{ form_label(form.regulationFromRegister) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        {{ form_errors(form.marketingRegulations) }}
                                        <div class="col-md-1">
                                            {{ form_widget(form.marketingRegulations) }}
                                        </div>
                                        <div class="col-md-11">
                                            {{ form_label(form.marketingRegulations) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="g-recaptcha" data-sitekey="6Lf7OFwUAAAAAFOa6v8rxkM_xvUWFVTVrt-quxR8"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            {{ form_widget(form.save) }}
                                        </div>
                                    </div>
                                    {{ form_end(form) }}
                                </div>
                                <div class="col-md-6">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

