<div id="preloader">
    <div id="status">&nbsp;</div>
</div>

<div class="header-connect">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-8  col-xs-12">
                <div class="header-half header-call">
                    <p>
                        <span><i class="pe-7s-call"></i> {{ config.config.phone }}</span>
                        <span><i class="pe-7s-mail"></i> {{ config.config.email }}</span>
                    </p>
                </div>
            </div>
            <div class="col-md-2 col-md-offset-5  col-sm-3 col-sm-offset-1  col-xs-12">
                <div class="header-half header-social">
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-vine"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End top header -->

<nav class="navbar navbar-default ">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('index') }}"><img src="{{ asset('img/logo.jpg') }}" alt=""></a>
        </div>

        <div class="collapse navbar-collapse yamm" id="navigation">
            <div class="button navbar-right">
                {% if app.user %}
                    <a class="navbar-btn nav-button wow bounceInRight login" href="{{ path('logout') }}" data-wow-delay="0.45s">{{ 'logout'|trans }}</a>
                {% else %}
                    <a class="navbar-btn nav-button wow bounceInRight login" href="{{ path('login') }}" data-wow-delay="0.45s">{{ 'login'|trans }}</a>
                {% endif %}
            </div>
            <ul class="main-nav nav navbar-nav navbar-right">
                <li class="wow fadeInDown" data-wow-delay="0.5s"><a href="{{ path('front_about_us') }}">{{ 'about_us'|trans }}</a></li>
                <li class="wow fadeInDown" data-wow-delay="0.5s"><a href="{{ path('front_news') }}">{{ 'news'|trans }}</a></li>
                <li class="wow fadeInDown" data-wow-delay="0.5s"><a href="{{ path('front_realizations') }}">{{ 'realizations'|trans }}</a></li>
                <li class="wow fadeInDown" data-wow-delay="0.5s"><a href="{{ path('contact') }}">{{ 'investor_zone'|trans }}</a></li>
                <li class="wow fadeInDown" data-wow-delay="0.5s"><a href="{{ path('contact') }}">{{ 'sublease_zone'|trans }}</a></li>
                {% if app.user %}
                    <li class="wow fadeInDown" data-wow-delay="0.5s"><a href="{{ path('front_user_account') }}">{{ 'account'|trans }}</a></li>
                {% endif %}
                <li class="wow fadeInDown" data-wow-delay="0.5s"><a href="{{ path('contact') }}">{{ 'contact'|trans }}</a></li>
            </ul>
        </div>
    </div>
</nav>
