<div id="preloader">
    <div id="status">&nbsp;</div>
</div>

<div class="header-connect">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-8  col-xs-12">
                <div class="header-half header-call">
                    <span><i class="pe-7s-call"></i> {{ config.config.phone }}</span>
                    <span><i class="pe-7s-mail"></i> {{ config.config.email }}</span>
                </div>
            </div>
            <div class="col-md-2 col-md-offset-5  col-sm-3 col-sm-offset-1  col-xs-12">
                <div class="pull-right">
                <a href="#"> <i class="fa fa-facebook"> </i> </a>
                <a href="#"> <i class="fa fa-instagram"> </i> </a>
                <a href="#"> <i class="fa fa-youtube"> </i> </a>
                </div>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default" id="navi">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ path('index') }}"><img src="{{ asset('img/logo.jpg') }}" alt=""></a>
        </div>

        <div class="collapse navbar-collapse yamm" id="navigation">
            <div class="button navbar-right">
                {% if app.user %}
                    <a class="navbar-btn nav-button-orange wow bounceInRight login" href="{{ path('front_user_account') }}" data-wow-delay="0.45s">{{ 'account'|trans }}</a>
                    <a class="navbar-btn nav-button wow bounceInRight login" href="{{ path('logout') }}" data-wow-delay="0.45s">{{ 'logout'|trans }}</a>
                {% else %}
                    <a class="navbar-btn nav-button wow bounceInRight login" href="{{ path('login') }}" data-wow-delay="0.45s">{{ 'login'|trans }}</a>
                {% endif %}
            </div>
            <ul class="main-nav nav navbar-nav navbar-right">
                {% set activeMenu = menu.getActiveMenu %}
                {% if menu.getMenu is not empty %}
                    {% for menuItem in menu.getMenu %}
                        {% set caret = '' %}
                        {% set attr = '' %}
                        {% if menuItem.childrens is not empty %}
                            {% set caret = '<b class="caret"></b>' %}
                            {% set attr = ' class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0.6s" ' %}
                        {% endif %}
                         <li class="{% if menuItem.id == activeMenu %}active{% endif %} wow fadeInDown" data-wow-delay="0.3s">
                            <a {{ attr|raw }} href="{{ menuItem.href }}">{{ menuItem.name }}{{ caret|raw }}</a>
                                {% if menuItem.childrens is not empty %}
                                    <ul class="dropdown-menu navbar-nav">
                                        {% for child in menuItem.childrens %}
                                           <li>
                                              <a href="{{ child.href }}">{{ child.name }}</a>
                                           </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
