{% extends 'back/base.html.twig' %}

{% block body %}

    {% include 'back/leftPanel.html.twig' %}


    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        {% include 'back/header.html.twig' %}

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Administratorzy - Lista</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li class="active">Administratorzy > Lista administratorów</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        {% include 'back/flashMessages.html.twig' %}

        <div class="content mt-3">
            <div class="animated fade-in">
                <table class="table">
                    <thead>
                        <tr>
                            <td>Id</td>
                            <td>Imię i Nazwisko</td>
                            <td>Email</td>
                            <td>Wyłącz</td>
                            <td>Usuń</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for admin in admins %}
                            <tr>
                                <td>{{ admin.id }}</td>
                                <td><a href="{{ path('admin_admin_edit',{ 'id':admin.id }) }}">{{ admin.firstName }} {{ admin.lastName }}</a></td>
                                <td>{{ admin.email }}</td>
                                {% if admin.isActive == 1 %}
                                    <td><a href="{{ path('admin_admin_disable', { 'id':admin.id,'status':0 }) }}" class="btn btn-warning">Wyłącz</td>
                                {% else %}
                                    <td><a href="{{ path('admin_admin_disable', { 'id':admin.id,'status':1 }) }}" class="btn btn-success">Włącz</td>
                                {% endif %}
                                <td><a href="#" class="btn btn-danger">Usuń</td>
                            </tr>
                        {% endfor %}
                        <tr>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
        <!--/.col-->

{% endblock %}

