{% extends 'back/base.html.twig' %}

{% block body %}

    {% include 'back/leftPanel.html.twig' %}


    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        {% include 'back/header.html.twig' %}

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Artykuły - Lista</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li class="active"><a href="{{ path('admin_articles') }}">Artykuły</a> > Lista Artykułów</li>
                        </ol>
                        <div class="page-header float-right">
                            <a href="{{ path('admin_article_new') }}"><i class="fa fa-user-plus text-dark"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include 'back/flashMessages.html.twig' %}

        <div class="content mt-3">
            <div class="animated fade-in">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>{{ knp_pagination_sortable(pagination, 'Id', 'id') }}</th>
                            <th{% if pagination.isSorted('name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Nazwa', 'name') }}</th>
                            <th>Obrazek</th>
                            <th{% if pagination.isSorted('category') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Kategoria', 'category') }}</th>
                            <th{% if pagination.isSorted('created') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Data utworzenia', 'created') }}</th>
                            <th{% if pagination.isSorted('isActive') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Strona główna', 'isActive') }}</th>
                            <th>Usuń</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for article in pagination %}
                            <tr>
                                <td>{{ article.id }}</td>
                                <td><a href="{{ path('admin_article_edit',{ 'id':article.id }) }}">{{ article.name }}</a></td>
                                <td>{% if article.image is not empty %}
                                        <a href="#" data-toggle="modal" data-target="#image_{{ article.id }}">
                                            <img class="img-thumbnail" style="width:50px; height:50px;" src="{{ asset(article.image) }}"/>
                                        </a>
                                        <div class="modal fade" id="image_{{ article.id }}" aria-hidden="true">
                                            <img class="img-thumbnail" style="max-height:800px;" src="{{ asset(article.image) }}"/>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">Zamknij</button>
                                            </div>
                                        </div>
                                    {% endif %}
                                </td>
                                <td>{{ article.category.name }}</td>
                                <td>{{ article.created|date('d-m-Y H:i:s') }}</td>
                                {% if article.isActive == 1 %}
                                    <td><a href="{{ path('admin_article_disable', { 'id':article.id,'status':0 }) }}" class="btn btn-warning">Wyłącz</a></td>
                                {% else %}
                                    <td><a href="{{ path('admin_article_disable', { 'id':article.id,'status':1 }) }}" class="btn btn-success">Włącz</a></td>
                                {% endif %}
                                <td><a href="{{ path('admin_article_delete', { 'id':article.id }) }}" class="btn btn-danger">Usuń</a></td>
                            </tr>
                        {% endfor %}
                        <tr>

                        </tr>
                    </tbody>
                </table>
                <nav aria-label="Page navigation">
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
                </nav>
            </div>
        </div>
        </div>
        <!--/.col-->

{% endblock %}

