{% extends 'back/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('ckeditor/ckeditor.js') }}"></script>
    <script>
        CKEDITOR.stylesSet.add( 'my_style', [
            // Block-level styles
            { name: 'h1', element: 'h1'},
            { name: 'h2', element: 'h2'},
            { name: 'h3' , element: 'h3'},
            { name: 'h4' , element: 'h4'},
            { name: 'h5' , element: 'h5'},
            { name: 'Szary krawędź lewa', element: 'p', attributes: { 'class': 'p-grey-border-left' } },
            { name: 'Szary prostokąt zaokrąglony', element: 'p', attributes: { 'class': 'p-grey-rounded-rectangle' } },
            { name: 'Lista niest.', element: 'ul', attributes: { 'class': 'ul-squares-grey-violet' } },

            // Inline styles
            { name: 'Fioletowy przycisk', element: 'span', attributes: { 'class': 'p-button-violet' } },
            { name: 'H3 header', element: 'p', attributes: { 'class': 'h3-header' } },
            { name: 'Marker: Yellow', element: 'span', styles: { 'background-color': 'Yellow' } }
        ] );
        CKEDITOR.config.stylesSet = 'my_style';

        CKEDITOR.replace( 'article_text' );
        CKEDITOR.replace( 'article_shortText' );

    </script>
    <script>
        function CkEditorURLTransfer(url) {
            //  window.opener.CKEDITOR.tools.callFunction(1, url);
            // window.close();
            window.parent.CKEDITOR.tools.callFunction(1, url, '');
            $('#cke_111_textInput').val(url);

        }
    </script>
{% endblock %}


{% block body %}

    {% include 'back/leftPanel.html.twig' %}

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

    {% include 'back/header.html.twig' %}

    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Nowy artykuł</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li class="active">Artykuły > Nowy artykuł</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

        {% include 'back/flashMessages.html.twig' %}

    <div class="card">
        <div class="card-body">
            {% form_theme form 'form/default_admin.html.twig' %}

            {{ form_start(form) }}
            {{ form_widget(form) }}

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
