{% extends 'back/base.html.twig' %}

{% block body %}

    {% include 'back/leftPanel.html.twig' %}

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

    {% include 'back/header.html.twig' %}

    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>{{ 'config'|trans }}</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li class="active"><a href="{{ path('admin_categories') }}">{{ 'config'|trans }}</a> > {{ 'edit_config'|trans }}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    {% include 'back/flashMessages.html.twig' %}

    <div class="card">
        <div class="card-body">
            <section class="card">
                <div class="card-header user-header alt bg-dark">
                    <div class="media-body">
                        <h2 class="text-light">
                            <i class="fa fa-cog"></i>
                            {{ 'config'|trans }}
                        </h2>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <b>{{ 'page_title'|trans }}:</b>
                        {{ configuration.title }}
                    </li>
                    <li class="list-group-item">
                        <b>{{ 'email'|trans }}:</b>
                        {{ configuration.email }}
                    </li>
                    <li class="list-group-item">
                        <b>{{ 'phone'|trans }}:</b>
                        {{ configuration.phone }}
                    </li>
                    <li class="list-group-item">
                        <b>{{ 'address'|trans }}:</b>
                        {{ configuration.address }}
                    </li>
                    <li class="list-group-item">
                        <b>{{ 'logo_for_main_site'|trans }}:</b>
                        {{ configuration.logoMain }}
                        {% if configuration.logoMain %}
                            <br/><img src="{{ asset(configuration.logoMain) }}"/>
                        {% endif %}
                    </li>
                    <li class="list-group-item">
                        <b>{{ 'logo_for_admin_site'|trans }}:</b>
                        {{ configuration.logoAdmin }}
                        {% if configuration.logoAdmin %}
                            <br/><img src="{{ asset(configuration.logoAdmin) }}"/>
                        {% endif %}
                    </li>
                    <li class="list-group-item">
                        <b>{{ 'regulations_url'|trans }}:</b>
                        {{ configuration.regulationsUrl }}
                    </li>
                    <li class="list-group-item">
                        <b>{{ 'bank_account'|trans }}:</b>
                        {{ configuration.bankAccount }}
                    </li>
                    <li class="list-group-item">
                        <b>{{ 'description'|trans }}:</b>
                        {{ configuration.description }}
                    </li>
                    <li class="list-group-item">
                        <b>{{ 'keywords'|trans }}:</b>
                        {{ configuration.keywords }}
                    </li>
                </ul>
            </section>
            <a href="{{ path('admin_config_edit') }}" class="btn btn-primary">{{ 'edit'|trans }}</a>
        </div>
    </div>
{% endblock %}
