<!-- Left Panel -->

<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">

        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="./"><img src="{{ asset('img/logo.jpg') }}" alt="Logo"></a>
            <a class="navbar-brand hidden" href="./"><img src="{{ asset('img/logo.jpg') }}" alt="Logo"></a>
        </div>

        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="{{ path('admin') }}"> <i class="menu-icon fa fa-dashboard"></i>{{ 'dashboard'|trans }} </a>
                </li>
                <li class="active">
                    <a href="{{ path('admin_config') }}"> <i class="menu-icon fa fa-cog"></i>{{ 'config'|trans }} </a>
                </li>
                <li class="active">
                    <a href="{{ path('admin_users') }}"> <i class="menu-icon fa fa-users"></i>{{ 'users'|trans }} </a>
                </li>
                <li class="active">
                    <a href="{{ path('admin_admins') }}"> <i class="menu-icon fa fa-users"></i>{{ 'admins'|trans }} </a>
                </li>
                <li class="active">
                    <a href="{{ path('admin_contacts') }}"> <i class="menu-icon fa ti-email"></i>{{ 'contact_forms'|trans }} </a>
                </li>
                <h3 class="menu-title">CMS</h3><!-- /.menu-title -->
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-file-o"></i>Artykuły</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-bars"></i><a href="{{ path('admin_articles') }}">Lista artykułów</a></li>
                        <li><i class="fa fa-plus-square"></i><a href="{{ path('admin_article_new') }}">Dodaj artykuł</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-file-o"></i>Kategorie</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-bars"></i><a href="{{ path('admin_categories') }}">Lista kategorii</a></li>
                        <li><i class="fa fa-plus-square"></i><a href="{{ path('admin_category_new') }}">Dodaj kategorię</a></li>
                    </ul>
                </li>
                <h3 class="menu-title">Inwestycje</h3><!-- /.menu-title -->
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa la-file-text-o"></i>Inwestorzy</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-bars"></i><a href="ui-buttons.html">Lista inwestorów</a></li>
                        <li><i class="fa fa-plus-square"></i><a href="ui-badges.html">Dodaj inwestora</a></li>
                    </ul>
                </li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside><!-- /#left-panel -->

<!-- Left Panel -->
