{% extends 'back/base.html.twig' %}

{% block bodyClass %}bg-dark{% endblock %}

{% block body %}
    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                    <img class="align-content" src="{{ asset(config.config.logoAdmin) }}" alt="">
                </div>
                <div class="login-form">
                    {% if error %}
                        <div   class="bg-warning">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    {% if app.user %}
                    <div>Jesteś zalogowany jako {{ app.user.username }}</div><br/>
                    <a href="{{ path('admin_logout') }}" class="btn btn-success">Wyloguj się</a>
                    {% else %}
                    <form  action="{{ path('admin_login') }}" method="post">
                        <div class="form-group">
                            <label>Użytkownik</label>
                            <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" />
                        </div>
                        <div class="form-group">
                            <label>Hasło</label>
                            <input class="form-control" type="password" id="password" name="_password" />
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Zapamiętaj mnie
                            </label>
                        </div>
                        <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">Zaloguj</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

