{% extends 'back/base.html.twig' %}

{% block body %}

    {% include 'back/leftPanel.html.twig' %}


    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        {% include 'back/header.html.twig' %}

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Moduły</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li class="active">Moduły</li>
                        </ol>
                        <div class="page-header float-right">
                            <a href="{{ path('admin_module_new') }}"><i class="fa fa-user-plus text-dark"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include 'back/flashMessages.html.twig' %}

        <div class="content mt-3">
            <div class="animated fade-in">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Id</th>
                            <th>Nazwa</th>
                            <th>Typ</th>
                            <th>Pozycja</th>
                            <th>Kolejność</th>
                            <th>Wyłącz</th>
                            <th>Usuń</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for module in modules %}
                            <tr>
                                <td>{{ module.id }}</td>
                                <td><a href="{{ path('admin_module_edit',{ 'id':module.id }) }}">{{ module.name }}</a></td>
                                <td>{{ module.genus.name }}</td>
                                <td>{{ module.position.name }}</td>
                                <td>
                                    <form action="{{ path('admin_module_change_position') }}" method="get">
                                        <input type="hidden" value="{{ module.id }}" name="id"/>
                                        <input type="number" style="width:55px" name="sequence" value="{{ module.sequence }}" />
                                        <input type="image" value="<<"/>
                                    </form>
                                </td>
                                {% if module.isActive == 1 %}
                                    <td><a href="{{ path('admin_module_disable', { 'id':module.id,'status':0 }) }}" class="btn btn-warning">Wyłącz</a></td>
                                {% else %}
                                    <td><a href="{{ path('admin_module_disable', { 'id':module.id,'status':1 }) }}" class="btn btn-success">Włącz</a></td>
                                {% endif %}
                                <td><a href="{{ path('admin_module_delete', { 'id':module.id }) }}" class="btn btn-danger">Usuń</a></td>
                            </tr>
                        {% endfor %}
                        <tr>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
        <!--/.col-->

{% endblock %}

