{% extends 'back/base.html.twig' %}

{% block body %}

    {% include 'back/leftPanel.html.twig' %}


    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        {% include 'back/header.html.twig' %}

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Typy modułów</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li class="active">Typy modułów</li>
                        </ol>
                        <div class="page-header float-right">
                            <a href="{{ path('admin_module_genus_new') }}"><i class="fa fa-user-plus text-dark"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include 'back/flashMessages.html.twig' %}

        <div class="content mt-3">
            <div class="animated fade-in">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Id</th>
                            <th>Nazwa</th>
                            <th>Typ</th>
                            <th>Szablon</th>
                            <th>Usuń</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for genus in moduleGenuses %}
                            <tr>
                                <td>{{ genus.id }}</td>
                                <td><a href="{{ path('admin_module_genus_edit',{ 'id':genus.id }) }}">{{ genus.name }}</a></td>
                                <td>{{ genus.type }}</td>
                                <td>{{ genus.template }}</td>
                                <td><a href="{{ path('admin_module_delete', { 'id':genus.id }) }}" class="btn btn-danger">Usuń</a></td>
                            </tr>
                        {% endfor %}
                        <tr>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
        <!--/.col-->

{% endblock %}

