{% extends 'back/base.html.twig' %}

{% block body %}

    {% include 'back/leftPanel.html.twig' %}

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

    {% include 'back/header.html.twig' %}

    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>{{ 'newsletter.newsletter'|trans }}</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li class="active"><a href="{{ path('admin_contacts') }}">{{ 'newsletter.newsletter'|trans }}</a> > {{ 'newsletter.newsletter'|trans }}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    {% include 'back/flashMessages.html.twig' %}

    <div class="card">
        <div class="card-body">
            <section class="card">
                <div class="card-header user-header alt bg-dark">
                    <div class="media-body">
                        <h2 class="text-light">
                            {{ newsletter.title }}
                        </h2>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <b>{{ 'created_date'|trans }}:</b>
                        {{ newsletter.created|date('d-m-Y H:i:s') }}
                    </li>
                    <li class="list-group-item">

                    </li>
                    <li class="list-group-item">
                        <b>{{ 'message'|trans }}:</b><br/>
                        <div class="well">
                            {{ newsletter.text }}
                        </div>
                    </li>
                </ul>
            </section>
        </div>
    </div>
{% endblock %}
