{% extends 'back/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include 'back/addons/ckeditor_config.html.twig' %}
    <script>
        CKEDITOR.replace( 'realization_description' );
    </script>
    <script>
            jQuery('.add-another-widget').click(function () {
                var name = jQuery(this).attr('data-list');
                var counter = jQuery("."+ name +"-collection").length;
                counter = counter+1;
                jQuery('#'+ name +'-fields-list').append('<li class="'+ name +'-collection">' +
                    '<input class="form-control" id="realization_'+ name +'_roles" name="realization['+ name +']['+ counter +']" type="text">'
                    + '</li>');
            });
    </script>
{% endblock %}


{% block body %}

    {% include 'back/leftPanel.html.twig' %}

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

    {% include 'back/header.html.twig' %}

    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>{{ 'realization_edit'|trans }}</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li class="active">{{ 'realizations'|trans }} > {{ 'realization_edit'|trans }}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

        {% include 'back/flashMessages.html.twig' %}

    <div class="card">
        <div class="card-body">
            {% form_theme form 'form/default_admin.html.twig' %}

            {{ form_start(form) }}

            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}

            {{ form_label(form.mainImage) }}
            <span style="font-size:11px;">{{ 'image_miniature'|trans }} 225x260px</span>
            {{ form_widget(form.mainImage) }}

            {{ form_label(form.folderWithImages) }}
            {{ form_widget(form.folderWithImages) }}

            {{ form_label(form.sellingPrice) }}
            {{ form_widget(form.sellingPrice) }}

            {{ form_label(form.currency) }}
            {{ form_widget(form.currency) }}

            {{ form_label(form.volume) }}
            {{ form_widget(form.volume) }}

            {{ form_label(form.city) }}
            {{ form_widget(form.city) }}

            {{ form_label(form.rooms) }}
            {{ form_widget(form.rooms) }}

            {{ form_label(form.yardage) }}
            {{ form_widget(form.yardage) }}


            <div class="card" id="basic">
                <div class="card-header">
                    <strong class="card-title">{{ 'default'|trans }}</strong>
                </div>
                <div class="card-body">
                    <ul id="basic-fields-list" class="list-unstyled"
                        data-prototype="{{ form_widget(form.basic.vars.prototype)|e }}"
                        data-widget-tags="{{ '<li></li>'|e }}">
                        {% for basic in form.basic %}
                            <li class="basic-collection">
                                {{ form_errors(basic) }}
                                {{ form_widget(basic) }}
                            </li>
                        {% endfor %}
                    </ul>
                    <a href="#basic"
                       class="add-another-widget btn btn-primary"
                       data-list="basic">{{ 'add_another_value'|trans }}</a>
                </div>
            </div>

            <div class="card" id="media">
                <div class="card-header">
                    <strong class="card-title">{{ 'media'|trans }}</strong>
                </div>
                <div class="card-body">
                <ul id="media-fields-list" class="list-unstyled"
                data-prototype="{{ form_widget(form.media.vars.prototype)|e }}"
                data-widget-tags="{{ '<li></li>'|e }}">
                {% for media in form.media %}
                    <li class="media-collection">
                        {{ form_errors(media) }}
                        {{ form_widget(media) }}
                    </li>
                {% endfor %}
                </ul>
                <a href="#media"
                   class="add-another-widget btn btn-primary"
                   data-list="media">{{ 'add_another_value'|trans }}</a>
                </div>
            </div>

            <div class="card" id="security">
                <div class="card-header">
                    <strong class="card-title">{{ 'security'|trans }}</strong>
                </div>
                <div class="card-body">
                <ul id="security-fields-list" class="list-unstyled"
                data-prototype="{{ form_widget(form.security.vars.prototype)|e }}"
                data-widget-tags="{{ '<li></li>'|e }}">
                {% for security in form.security %}
                    <li class="security-collection">
                        {{ form_errors(security) }}
                        {{ form_widget(security) }}
                    </li>
                {% endfor %}
                </ul>
                <a href="#security"
                   class="add-another-widget btn btn-primary"
                   data-list="security">{{ 'add_another_value'|trans }}</a>
                </div>
            </div>

            <div class="card" id="additionalInfo">
                <div class="card-header">
                    <strong class="card-title">{{ 'additional_info'|trans }}</strong>
                </div>
                <div class="card-body">
                <ul id="additionalInfo-fields-list" class="list-unstyled"
                data-prototype="{{ form_widget(form.additionalInfo.vars.prototype)|e }}"
                data-widget-tags="{{ '<li></li>'|e }}">
                {% for additionalInfo in form.additionalInfo %}
                    <li class="additionalInfo-collection">
                        {{ form_errors(additionalInfo) }}
                        {{ form_widget(additionalInfo) }}
                    </li>
                {% endfor %}
                </ul>
                <a href="#additionalInfo"
                   class="add-another-widget btn btn-primary"
                   data-list="additionalInfo">{{ 'add_another_value'|trans }}</a>
                </div>
            </div>

            {{ form_widget(form.description) }}
            {{ form_widget(form.save) }}

            {{ form_end(form) }}
        </div>
    </div>
    </div>
{% endblock %}
