{% extends 'back/base.html.twig' %}

{% block body %}

    {% include 'back/leftPanel.html.twig' %}


    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        {% include 'back/header.html.twig' %}

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>{{ 'recruitment_users'|trans }}</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li class="active">{{ 'recruitment_users'|trans }} > {{ 'recruitment_users'|trans }}</li>
                        </ol>
                        <div class="page-header float-right">
                            <a href="{{ path('admin_recruitment_user_new') }}"><i class="fa fa-user-plus text-dark"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include 'back/flashMessages.html.twig' %}

        <div class="content mt-3">
            <div class="animated fade-in">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Id</th>
                            <th>{{ 'recruitment'|trans }}</th>
                            <th>{{ 'first_name'|trans }} {{ 'last_name'|trans }}</th>
                            <th>{{ 'status'|trans }}</th>
                            <th>{{ 'declared_amount'|trans }}</th>
                            <th>{{ 'payed_amount'|trans }}</th>
                            <th>{{ 'investment_period'|trans }}</th>
                            <th>{{ 'interest'|trans }}</th>
                            <th>{{ 'amount_of_days'|trans }}</th>
                            <th>{{ 'amount_of_interest'|trans }}</th>
                            <th>{{ 'created'|trans }}</th>
                            <th>{{ 'agreement.agreement'|trans }}</th>
                            <th>Wyłącz</th>
                            <th>Usuń</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for recruitment in recruitmentUsers %}
                            <tr>
                                <td>{{ recruitment.id }}</td>
                                <td><a href="{{ path('admin_recruitment_show',{'id':recruitment.recruitment.id}) }}">{{ recruitment.recruitment.name }}</a></td>
                                <td><a href="{{ path('admin_recruitment_user_edit',{'id':recruitment.id}) }}">{{ recruitment.user.firstName }} {{ recruitment.user.lastName }} </a></td>
                                <td><form class="form" action="#">
                                        <select id="recruitment_user_status" name="{{ recruitment.id }}">
                                            <option value="{{ recruitment.status.id }}">{{ recruitment.status.name }}</option>
                                        {% for status  in recruitmentUserStatus %}
                                                <option value="{{ status.id }}">{{ status.name }}</option>
                                        {% endfor %}
                                        </select>
                                    </form>
                                </td>
                                <td>{{ recruitment.declaredAmount }} </td>
                                <td>{{ recruitment.payedAmount }} </td>
                                <td>{{ recruitment.investmentPeriod }} </td>
                                <td>{{ recruitment.interest }} </td>
                                <td> -- </td>
                                <td> -- </td>
                                <td>{{ recruitment.created|date('d-m-Y H:i:s') }}</td>
                                {% if recruitment.agreementPath is not empty %}
                                    <td><a target="_blank" href="{{ path('admin_recruitment_user_get_agreement', { 'id':recruitment.id }) }}" class="btn btn-default">Pobierz</a></td>
                                {% else %}
                                    <td>{{ 'agreement.not_available'|trans }}</td>
                                {% endif %}
                                {% if recruitment.isActive == 1 %}
                                    <td><a href="{{ path('admin_recruitment_user_disable', { 'id':recruitment.id,'status':0 }) }}" class="btn btn-warning">Wyłącz</a></td>
                                {% else %}
                                    <td><a href="{{ path('admin_recruitment_user_disable', { 'id':recruitment.id,'status':1 }) }}" class="btn btn-success">Włącz</a></td>
                                {% endif %}
                                <td><a href="{{ path('admin_recruitment_user_delete', { 'id':recruitment.id }) }}" class="btn btn-danger">Usuń</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <nav aria-label="Page navigation">
                    <div class="navigation">
                        {{ knp_pagination_render(recruitmentUsers) }}
                    </div>
                </nav>
            </div>
        </div>
        </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function(){
            $( "select" ).change(function() {
                var status = this.value;
                var recruitment_id = $(this).attr('name');
                var url = '{{ path('admin_recruitment_user_edit_status',{'id':'recruitment_id','status':'recruitment_status'}) }}';
                url = url.replace('recruitment_id',recruitment_id);
                url = url.replace('recruitment_status', status);
                window.location.href = url;
            });
        });
    </script>
{% endblock %}
