{% extends 'back/base.html.twig' %}

{% block body %}

    {% include 'back/leftPanel.html.twig' %}


    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        {% include 'back/header.html.twig' %}

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Media społecznościowe</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li class="active">Media społecznościowe</li>
                        </ol>
                        <div class="page-header float-right">
                            <a href="{{ path('admin_social_new') }}"><i class="fa fa-user-plus text-dark"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include 'back/flashMessages.html.twig' %}

        <div class="content mt-3">
            <div class="animated fade-in">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Id</th>
                            <th>Nazwa</th>
                            <th>Adres</th>
                            <th>Klasa html</th>
                            <th>Włączona</th>
                            <th>Usuń</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for social in socials %}
                            <tr>
                                <td>{{ social.id }}</td>
                                <td><a href="{{ path('admin_social_edit',{ 'id':social.id }) }}">{{ social.name }}</a></td>
                                <td>{{ social.href }}</td>
                                <td>{{ social.htmlClass }}</td>
                                {% if social.isActive == 1 %}
                                    <td><a href="{{ path('admin_social_disable', { 'id':social.id,'status':0 }) }}" class="btn btn-warning">Wyłącz</a></td>
                                {% else %}
                                    <td><a href="{{ path('admin_social_disable', { 'id':social.id,'status':1 }) }}" class="btn btn-success">Włącz</a></td>
                                {% endif %}
                                <td><a href="{{ path('admin_social_delete', { 'id':social.id }) }}" class="btn btn-danger">Usuń</a></td>
                            </tr>
                        {% endfor %}
                        <tr>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
        <!--/.col-->

{% endblock %}

